include includes/_helpers
doctype html
html
  head
    include includes/shared-headers
    include includes/shared-css
    include includes/shared-js
    include includes/resize

    // model files here
    +script(src="species/fast-plants-roots.js")
    +script(src="species/varied-rabbits.js")
    +script(src="environments/dam.js")
    +script(src="models/dam-plants-rabbits-reverse.js")
    style(type="text/css").
      body {
        margin: 0;
      }

      #wrapper {
        display: flex;
      }

      #meta {
        padding: 2px;
        display: flex;
      }

      #meta .left {
        width: 150px;
      }

      #meta .right {
        margin-left: 4px;
      }

      #environment {
        padding: 0;
        overflow: unset;
      }

      #environment>div {
        width: 600px;
      }

      .title {
        font-weight: bold;
        padding-right: 5px;
      }


      #controls, #water-level-container, #highlight {
        margin-top: 35px;
      }

      #water-level {
        height: 100px;
        width: 18px;
        border-radius: 10px;
        background-color: #cccccc;
        position: relative;
        padding: 2px;
      }

      #water-level-indicator {
        position: absolute;
        bottom: 0;
        left: 3px;
        height: 100%;
        max-height: 100px;
        margin-top: 2px;
        margin-bottom: 2px;
        width: 16px;
        border-radius: 8px;
        background-color: blue;
      }

  body
    #wrapper
      #environment
      #meta
        .left
          .year-container
            span.title= "Year:"
            span#year= "1"
          #controls
            button#remove-button= "Remove the Dam"
          #water-level-container
            .title= "Water below the dam"
            .level
              div= "Lots of water"
              #water-level
                #water-level-indicator
              div= "Little water"
          #highlight
            span.title= "Highlight:"
            br
            input#highlight-none(type='radio' name='highlight' checked='checked')
            ="None"
            br
            input#highlight-big(type='radio' name='highlight')
            = "Big rabbits"
            br
            input#highlight-medium(type='radio' name='highlight')
            = "Medium rabbits"
            br
            input#highlight-small(type='radio' name='highlight')
            = "Small rabbits"

        .right
          #chart1= "Chart 1 here"
          #chart2= "Chart 2 here"
